.vscode/
tempCodeRunnerFile*

*.exe
*.out
*.o

# shell
utmlab.sh
.bashrc

# c
practice
notes_sort
binary_data*
notes
main
client

# python
env

# r
SUDS.md
SUDS.html

# latex
tex
tex_info

!.gitignore

# uni
*/labs/*