# ignore everything that doesn't have a file extension
*
!*.*
!*/

.vscode/
tempCodeRunnerFile*

*.exe
*.out
*.o
*.swp

# shell
utmlab.sh
.bashrc

# c
practice
notes_sort
binary_data*
notes
main
client


# python
env
__pycache__

# django
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# other django files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.sqlite3-journal

# r
SUDS.md
SUDS.html

# latex
tex
tex_info

!.gitignore

# cyber
stack
