#div1 {
    background-color: lightblue;
    height: 100px;
    width: 100px;
    margin-bottom: 15px;
    position: relative;
}

#innerDiv {
    background-color: lightcoral;
    width: 50px;
    height: 50px;
    border: 1px solid;
}

#outerDiv {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-bottom: 15px;
}

.hidden {
    display: none;
}

#myCanvas {
    border: 1px solid;
    /* background-color: antiquewhite; */
}